openapi: 3.0.3

info:
  title: Fee Calculator Microservice
  version: 4.0.0
  description: Fee Calculator for Multi-channel Integration Layer of SW Client Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it

servers:
  - description: DEV
    url: https://mil-d-apim.azure-api.net/mil-fee-calculator

security:
  - bearerAuth: []

paths:
  /fees:
    # ------------------------------------------------------
    # Calculates the fee amount for a set of payment notices
    # ------------------------------------------------------
    post:
      operationId: getFee
      summary: Calculates the fee amount for a set of payment notices
      parameters:
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/AcquirerId'
        - $ref: '#/components/parameters/Channel'
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/TerminalId'
      requestBody:
        $ref: '#/components/requestBodies/GetFee'
      responses:
        "200":
          $ref: '#/components/responses/FeeFound'
        "400":
          $ref: '#/components/responses/Error'
        "401":
          description: Access token is missing or invalid
        "403":
          description: Forbidden
        "404":
          description: Fee not found
        "406":
          description: Not acceptable. Did you require application/json?
        "415":
          description: Unsupported media type. Did you provide application/json?
        "429":
          description: Too many request
        "500":
          $ref: '#/components/responses/Error'
        default:
          description: Unexpected error

components:
  # ========================================================
  # Schemas
  # ========================================================
  schemas:
    AcquirerId:
      description: Acquirer ID assigned by PagoPA
      type: string
      pattern: "^\\d{1,11}$"
      example: "4585625"

    Category:
      description: Transfer category
      type: string
      pattern: "^[ -~]{0,1024}$"
      example: "KTM"

    Channel:
      description: Channel originating the request
      enum:
        - ATM
        - POS
        - TOTEM
        - CASH_REGISTER
        - CSA
      type: string
      example: "ATM"

    Error:
      description: Error code
      type: string
      pattern: "^[A-F0-9]{9}$"
      example: "001000005"

    Errors:
      description: List of errors
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          maxItems: 32
          items:
            $ref: '#/components/schemas/Error'
      required:
        - errors
      example:
        errors:
          - "00000000A"
          - "001000001"

    EuroCents:
      description: Amount in euro cents
      type: integer
      format: int64
      minimum: 1
      maximum: 99999999999
      example: 12345

    MerchantId:
      description: Merchant ID. Mandatory when Channel equals POS.
      type: string
      pattern: "^[0-9a-zA-Z]{1,15}$"
      example: "28405fHfk73x88D"

    PaymentMethod:
      description: Method used to pay notice/s
      type: string
      enum:
        - PAGOBANCOMAT
        - DEBIT_CARD
        - CREDIT_CARD
        - PAYMENT_CARD # To be used only if the client is unable to choose among PAGOBANCOMAT, DEBIT_CARD or CREDIT_CARD.
        - BANK_ACCOUNT
        - CASH
      example: "PAGOBANCOMAT"

    PaymentNotice:
      description: Payment notice data
      type: object
      additionalProperties: false
      properties:
        amount:
          $ref: '#/components/schemas/EuroCents'
        paTaxCode:
          $ref: '#/components/schemas/PaTaxCode'
        transfers:
          type: array
          maxItems: 5
          items:
            $ref: '#/components/schemas/Transfer'
      required:
        - amount
        - paTaxCode
        - transfers
      example:
        amount: 12345
        paTaxCode: "15376371009"
        transfers:
          - paTaxCode: "15376371009"
            category: "KTM"

    PaTaxCode:
      description: Tax code of the creditor company
      type: string
      pattern: "^[0-9]{11}$"
      example: "15376371009"

    TerminalId:
      description: ID of the terminal originating the transaction. It must be unique per acquirer and channel.
      type: string
      pattern: "^[0-9a-zA-Z]{1,8}$"
      example: "0aB9wXyZ"

    Transfer:
      description: Transfer essential data
      type: object
      additionalProperties: false
      properties:
        paTaxCode:
          $ref: '#/components/schemas/PaTaxCode'
        category:
          $ref: '#/components/schemas/Category'
      required:
        - paTaxCode
        - category
      example:
        paTaxCode: "15376371009"
        category: "KTM"

    UUID:
      description: UUID
      type: string
      format: uuid
      pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      example: "d0d654e6-97da-4848-b568-99fedccb642b"

  # ========================================================
  # Parameters
  # ========================================================
  parameters:
    AcquirerId:
      name: AcquirerId
      in: header
      description: Acquirer ID assigned by PagoPA
      required: true
      schema:
        $ref: '#/components/schemas/AcquirerId'

    Channel:
      name: Channel
      in: header
      description: Channel originating the request
      required: true
      schema:
        $ref: '#/components/schemas/Channel'

    MerchantId:
      name: MerchantId
      description: Merchant ID. Mandatory when Channel equals POS.
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/MerchantId'
    
    RequestId:
      name: RequestId
      in: header
      description: Request Id that will be logged by services
      required: true
      schema:
        $ref: '#/components/schemas/UUID'

    TerminalId:
      name: TerminalId
      in: header
      description: ID of the terminal originating the transaction. It must be unique per acquirer and channel.
      required: true
      schema:
        $ref: '#/components/schemas/TerminalId'

    Version:
      name: Version
      in: header
      description: Version of the required API
      required: false
      schema:
        type: string
        pattern: "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
        maxLength: 64
        example: "1.0.0-alpha-a.b-c-somethinglong+build.1-aef.1-its-okay"

  # ========================================================
  # Request bodies
  # ========================================================
  requestBodies:
    GetFee:
      description: Request to get fee
      content:
        application/json:
          schema:
            description: Request to get fee
            type: object
            additionalProperties: false
            properties:
              paymentMethod:
                $ref: '#/components/schemas/PaymentMethod'
              notices:
                type: array
                maxItems: 5
                items:
                  $ref: '#/components/schemas/PaymentNotice'
            required:
              - paymentMethod
              - notices
            example:
              paymentMethod: "PAGOBANCOMAT"
              notices:
                - amount: 12345
                  paTaxCode: "15376371009"
                  transfers:
                    - paTaxCode: "15376371009"
                      category: "KTM"

  # ========================================================
  # Responses
  # ========================================================
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'

    FeeFound:
      description: Fee found
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              fee:
                $ref: '#/components/schemas/EuroCents'
            required:
              - fee
            example:
              fee: 50

  # ========================================================
  # Security schemes
  # ========================================================
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT